.App {
  text-align: center;
}
.Movies {
  border: 1px solid darkgreen;
  margin: 20px 300px;
  text-align: left;
  min-height: 300px;
}
.Movie {
  margin: 2px 100px;
  text-align: left;
  padding: 5px;
}
.input-movies {
  margin: 20px 20px 5px 100px;
  width: 60%;
}
.btn-movies {
  width: 100px;
  height: 35px;
}
.input-movie {
  width: 60%;
  margin: 0 20px 0 10px;
}
.joke {
  margin: 20px;
  padding: 10px;
  border: 1px solid salmon;
}
.input-jokes {
  width: 30%;
  margin: 20px 20px 5px 100px;
}